:root {
    --lava-black: #000;
    --lava-white: #ECECEC;
    --lava-silver: #E6E6E6;
    --lava-grey: #666666;
    --lava-blue: #92BEFC;
    --box-shadow-blur: 8px;
    --big-title-size-1 : 96px;
    --big-title-size-2 : 88px;
    --big-sub-title-size-1 : 48px;
    --big-sub-title-size-2 : 40px;
    --sm-title-size-1 : 36px;
    --desc-size-1 : 28px;
    --desc-size-2 : 24px;
    --desc-size-3 : 20px;
    --t-big-title-1:32px;
    --t-sm-title-1:48px;
    --t-desc-size-1:20px;
    --m-big-title-size-1 : 48px;
    --m-big-title-size-2 : 32px;
    --m-big-sub-title-size-1 : 20px;
    --m-big-sub-title-size-2 : 20px;
    --m-sm-title-size-1 : 18px;
    --m-desc-1 : 16px;
    --inset-shadow: inset 0 0 16px 13px var(--lava-black);
    --txt-sd-bk: 0 0 10px #000;
}

h1, h2, h3, h4, h5, p {
    margin-bottom: 10px!important;
}

// .section {
//     .fill {
//         box-shadow: var(--inset-shadow);
//     }
// }

.text-black {
    color: var(--lava-black)!important;
}

.text-white {
    color: var(--lava-white)!important;
}

.text-silver {
    color: var(--lava-silver)!important;
}

.text-grey {
    color: var(--lava-grey)!important;
}

.flex-row {
    flex-direction: row;
}
  
.flex-col {
    flex-direction: column;
}

.flex-v-center { 
    display: flex;
    align-items: center;;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.p-lr-0 {
    padding-left: 0!important;
    padding-right: 0!important;
}

.m-lr-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.relative {
    position: relative;
}

.img-round {
    border-radius: 30px;
}

.effect img {
    border-radius: 10px;
}

.light-box-btn {
    position: absolute;
    top: 110%;
}

.feature video {
    border-radius: 20px;
    height: 34vh;
    box-shadow: 2px 5px 10px
}

.lava-drum {
    width: 100%;
    border-radius: 30px;
    height: 11vw
}

.lava-me-logo {
    width: 170px;
}

.shadow {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25)
}

@media screen and (max-width: 575px) {

    /* 排版類 */

    .m-m-lr-0 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .m-m-l-0 {
        margin-left: 0 !important;
    }

    .m-m-r-0 {
        margin-right: 0 !important;
    }

    .m-p-lr-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m-p-l-0 {
        padding-left: 0 !important;
    }

    .m-p-r-0 {
        padding-right: 0 !important;
    }


    /* 文字類 */

    .normal-text {
        font-size: 1rem
    }

    .feature h3 {
        font-size: 1.5rem
    }

    .title-2 {
        font-size: 1.5rem !important;
    }


    /* 元件樣式類 */

    .feature video {
        height: 180px
    }


    .lava-drum {
        border-radius: 10px;
        margin-top: 7px
    }

    .lava-me-logo {
        width: 100px;
    }
}

@media screen and (max-width: 991px) and (min-width: 576px) {

    /* 排版類 */

    .mid-20 {
        max-width: 20%;
        min-width: 20%;
    }

    /* 文字類 */

    .feature h3 {
        font-size: 2.5vw
    }

    .feature h4 {
        font-size: 2vw
    }

    .video-center-text {
        font-size: 3vw;
    }

    .normal-text {
        font-size: 2vw;
    }

    .five-pattern h4 {
        font-size: 2.5vw
    }

    .drum-title {
        font-size: 2vw;
        margin-bottom: 30px;
    }

    /* 元件樣式類 */

    .lava-me-logo {
        width: 80px;
    }
}

@media screen and (min-width: 992px) {

    /* 排版類 */

    .big-20 {
        max-width: 20%;
        min-width: 20%;
    }

    /* 文字類 */

    /* 元件樣式類 */


}

/* Section 0 */

#main {
    background-color: var(--lava-black);
}

/* Section 1 */

.section-1 {
    
    text-align: center;

    .fill {
        box-shadow: unset!important;
    }

    .title {
        font-size: var(--big-title-size-1);
        color: var(--lava-black);
    }

    .sub-title {
        font-size: var(--big-sub-title-size-1);
        color:var(--lava-grey);
    }

    .desc {
        font-size: var(--desc-size-3);
    }

    @media screen and (max-width: 575px) {

        .title {
            font-size: var(--m-big-title-size-1);
        }

        .sub-title {
            font-size: var(--m-big-sub-title-size-1);
        }
    }

}

/* Section 1 */

.section-1 {
    
    text-align: center;

    .title {
        font-size: var(--big-title-size-1);
        color: var(--lava-black);
    }

    .sub-title {
        font-size: var(--big-sub-title-size-1);
        color:var(--lava-grey);
    }

    .desc {
        font-size: var(--desc-size-3);
    }

    @media screen and (max-width: 575px) {

        .title {
            font-size: var(--m-big-title-size-1);
        }

        .sub-title {
            font-size: var(--m-big-sub-title-size-1);
        }
    }

}

/* Section-2 */

.section-2 {

    padding: 0!important;
    height: 56.25vw;

    .video-box {
        width: 100%;
        position: relative;

        @media screen and (max-width: 575px) {

            height: 176vw;

            button {
                font-size: var(--m-desc-1);
                padding: 2px 30px;
            }          
        }

        video {
            width: 100%;
        }

        .button-box {
            display: flex;
            position: absolute;
            bottom: 5%;
            left: 50%;
            width: 400px;
            max-width: 90%;
            justify-content: space-around;
            transform: translateX(-50%);
    
            button {
                text-align: center;
                border-radius: 38px;
                padding: 5px 30px;
                font-size: var(--desc-size-3);

            }
    
            .full-vid {
                border: 2px solid #79AEFF;
                color: #79AEFF;
                box-shadow: 0 0 8px #79AEFF;

                &:hover {
                    background-color: #79AEFF;
                    color: #fff;
                }
            }
        
            .quick-intro {
                border: 2px solid #BC6AFF;
                color: #BC6AFF;
                box-shadow: 0 0 8px #BC6AFF;

                &:hover {
                    background-color: #BC6AFF;
                    color: #fff;
                }
            }
    
        }
    }

    video {
        width: 100%;
    }


    @media screen and (max-width: 575px) {
        height: 176vw;
        
    }

}

/* Section-3 */

.section-3 {

    text-align: center!important;

    .title {
        font-size: var(--big-title-size-1);
        color: var(--lava-silver)
    }

    .sub-title {
        font-size: var(--big-sub-title-size-1);
        color: var(--lava-silver);
    }

    .desc {
        font-size: var(--desc-size-1);
        color: var(--lava-white)
    }

    @media screen and (max-width: 575px) {

        .title {
            font-size: var(--m-big-title-size-1);
        }

        .sub-title {
            font-size: var(--m-big-sub-title-size-1);
        }

        .desc {
            font-size: var(--m-desc-1);
        }
        
    }

}

.section-4 {

    padding: 0;

    .desc {
        font-size: var(--desc-size-1);
        font-weight: 600;
    }

    @media screen and (max-width: 575px) {

        .desc {
            font-size: var(--m-desc-1);
            padding-bottom: 50px;
            text-align: center;
        }
        
        .img-round {

            img {
            border-radius: 30px;
            }

        }

    }

}

.section-5 {

    width: 100%;
    height: 900px;
    padding: 0;

    .title {
        font-size: var(--big-sub-title-size-1);
        color: var(--lava-white);
    }

    .img-round {

        .banner {
            border-radius: 30px;
        }

    }

    .img-box {
        
        transition: opacity 0.5s linear;
        border-radius: 30px;

        .banner-bg {
            border-radius: 30px;
        }

        .active {
            opacity: 0
        }

        .desc {
            font-size: var(--desc-size-3);
            color: var(--lava-white);
            text-align: right;
            text-shadow: var(--txt-sd-bk);
        }

    }

    @media screen and (max-width: 575px){
        height: 750px;
        margin-bottom: -120px;
    }

}

.section-6 {

    padding: 0;

    .title {
        font-size: var(--big-sub-title-size-1);
        color: var(--lava-white);
    }

    .sub-title {
        font-size: var(--desc-size-3);
        border-bottom: 1px solid rgba(0,0,0,0);
        transition: border-bottom-color 0.2s linear;
        color: var(--lava-white);

        &.active {
            border-bottom-color: var(--lava-silver);
        }
    }

    .will-tab {

        a[role="tab"] {
            color: var(--lava-white)!important;   
            font-size: var(--desc-size-3);
        }

        ul {
            display: none;
        }
    }

    img {
        border-radius: 30px;
    }

    .tab-box {
        display: flex;
        justify-content: center;
        width: 100%;

        div {
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
            color: var(--lava-white);
        }
    }

    .desc {
        font-size: var(--desc-size-3);
        color: var(--lava-silver);
        text-align: center;
    }

    .grid-silver, .grid-dark {
        display: none;

        &.show {
            display: flex;
        }
    }
}

.section-7 {
    padding: 0!important;
    height: 56.25vw;

    .video-box {
        width: 100%;
        position: relative;

        video {
            width: 100%;
        }
    }
}

.section-8 {
    padding: 0!important;

    .title {
        font-size: var(--big-title-size-2);
        color: var(--lava-silver);
        text-shadow: 0 0 var(--box-shadow-blur) var(--lava-blue);
    }

    .sub-title {
        font-size: var(--big-sub-title-size-2);
        color: var(--lava-blue);
        text-shadow: 0 0 var(--box-shadow-blur) var(--lava-silver);
    }

    .desc {
        font-size: var(--desc-size-3);
        color: var(--lava-white);
        text-shadow: 0 0 var(--box-shadow-blur) var(--lava-white);
    }

    @media screen and (max-width: 575px){

        .title {
            font-size: var(--m-big-title-size-2);
        }

        .sub-title {
            font-size: var(--m-big-sub-title-size-2);
        }

        .desc {
            font-size: var(--m-desc-1);
        }

    }

}

.section-9 {

    padding: 0!important;

    .desc {
        font-size: var(--desc-size-3);

        @media screen and (max-width: 575px){
            font-size: var(--m-desc-1);
        }
    }
}

.section-10 {

    padding: 0!important;

    .fill {
        box-shadow: unset;
    }

    .title {
        text-shadow: 0 0 var(--box-shadow-blur) var(--lava-silver);
        font-size: var(--desc-size-1);
        color: var(--lava-silver);
    }

    .desc {
        font-size: var(--desc-size-3);
    }

    @media screen and (max-width: 575px){
        .title {
            font-size: var(--m-sm-title-size-1)
        }

        .desc {
            font-size: var(--m-desc-1);
        }
    }
}

.section-11 {

    padding: 0!important;

    .title {
        font-size: var(--desc-size-1);
        color: var(--lava-white);

        @media screen and (max-width: 575px){
            text-align: center;
        }
    }
    .tab-box {

        border-radius: 35px;
        padding: 20px 24px;
        display: flex;
        justify-content: space-around;
        width: 348px;
        background-color: #080808;

        @media screen and (max-width: 575px){
            width: 100%;

            div {
                width: 20px;
                height: 20px;
            }
        }

        div {
            $x : 0;
            $y : 0;
            $blur : 8px;
            $yl: #F4C043;
            $rd: #FF3937;
            $pp: #AF49FF;
            $bl: #5995FF;
            $gr: #77D660;

            border-radius: 100%;
            border-width: 6px;
            border-style: solid;
            opacity: 0.5;
            transition: opacity 0.2s linear;
            width: 30px;
            height: 30px;
            cursor: pointer;

            &.selected {
                opacity: 1;
            }

            &.app-yellow {
                border-color: $yl;
                box-shadow: $x $y $blur $yl;
            }

            &.app-red {
                border-color: $rd;
                box-shadow: $x $y $blur $rd;
            }

            &.app-purple {
                border-color: $pp;
                box-shadow: $x $y $blur $pp;
            }

            &.app-blue {
                border-color: $bl;
                box-shadow: $x $y $blur $bl;
            }

            &.app-green {
                border-color: $gr;
                box-shadow: $x $y $blur $gr;
            }


        }
    }

    .app-box {
        background-image: url('/wp-content/uploads/lava-me-air-section-11-phone-bg.webp');
        width: 100%;
        position: relative;
        border-radius: 100px;
        img {
            border-radius: 30px;
        }
        .app-btn {
            width: 80%;
            position: absolute;
            top: 16%;
            left: 50%;
            transform: translateX(-50%);
            div {
                border-radius: 30px;
                position: relative;
                margin-bottom: 10px;
                cursor: pointer; 
                transition: transform 0.2s linear;   
                &.selected {
                    transform: scale(1.2);
                }
                i {
                    position: absolute;
                    right: 5%;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 10;
                    color: var(--lava-white);
                    font-size: 24px;
                    opacity: 0.2;
                }
            }
        }
    }
}

.section-12 {
    img {
        border-radius: 30px;
    }

    .desc {
        font-size: var(--desc-size-1);
        font-weight: 600;
    }

    @media screen and (max-width: 575px){
        .desc {
            text-align: center;
            font-size: 20px;
        }
    }
}

.section-13 {
    padding: 0!important;

    .title {
        text-shadow: 0 0 var(--box-shadow-blur) var(--lava-silver);
        font-size: var(--desc-size-1);
        color: var(--lava-silver);
    }

    .desc {
        font-size: var(--desc-size-3);
    }

    @media screen and (max-width: 575px){
        .title {
            font-size: var(--m-sm-title-size-1)
        }

        .desc {
            font-size: var(--m-desc-1);
        }
    }
}

.section-14 {
    padding: 0!important;
    height: 56.25vw;

    @media screen and (max-width: 575px){
        height: 400px;
    }

    .title {
        font-size: var(--desc-size-1);
        color: var(--lava-white);
    }

    .desc {
        color: var(--lava-white);
        font-size: var(--m-desc-1);
    }

    video {
        width: 100%;
        border-radius: 30px;
    }
}

.section-15 {

    box-shadow: var(--inset-shadow);
    width: 100%;
    height: 56.25vw;
    position: relative;

    .banner {
        background-color: unset!important;
    }

    video {
        width: 100%;
    }

    .text-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-shadow: 0 0 8px #000;

        .title {
            font-size: var(--big-title-size-2);
            color: var(--lava-white);
        }
    
        .sub-title {
            font-size: var(--big-sub-title-size-2);
            color: var(--lava-white);
        }
    
        .desc {
            font-size: var(--desc-size-2);
            color: var(--lava-grey);
        }

        @media screen and (max-width: 1024px){
            .title {
                font-size: var(--t-big-title-1);
            }
    
            .sub-title {
                font-size: var(--t-sm-title-1);
            }
    
            .desc {
                font-size: var(--t-desc-size-1);
            }
        }
    
        @media screen and (max-width: 575px){
            .title {
                font-size: var(--m-big-title-size-2);
            }
    
            .sub-title {
                font-size: var(--m-big-sub-title-size-2);
            }   
    
            .desc {
                font-size: var(--m-desc-1);
            }
        }

    }

    
}

.section-16 {

    width: 100%;
    padding: 0;

    .fill {
        box-shadow: unset;
    }

    .title {
        font-size: var(--sm-title-size-1);
        color: var(--lava-white);
    }

    .sub-title {
        font-size: var(--desc-size-2);
        color: var(--lava-white);
    }

    .desc {
        font-size: var(--desc-size-3);
        color: var(--lava-white);
    }

    .img-round {

        .banner {
            border-radius: 30px;
        }

    }

    .img-box {
        
        transition: opacity 0.5s linear;
        border-radius: 30px;

        .banner-bg {
            border-radius: 30px;
        }

        .active {
            opacity: 0
        }

        .desc {
            font-size: var(--desc-size-3);
            color: var(--lava-white);
            text-align: right;
            text-shadow: 0 0 10px #000;
        }

    }

    @media screen and (max-width: 575px) {
        .title {
            font-size: var(--m-big-title-size-1)
        }

        .sub-title {
            font-size: var(--m-big-sub-title-size-1);
        }

        .desc {
            font-size: var(--m-desc-1);
        }
    }

}

.section-17 {
    padding: 0!important;

    .title {
        font-size: var(--sm-title-size-1);
        color: var(--lava-white);
        text-shadow: var(--txt-sd-bk);
        font-weight: 600;
    }

    .desc {
        font-size:var(--desc-size-3);
        text-shadow: var(--txt-sd-bk);
    }

    @media screen and (max-width: 575px){
        .title {
            font-size: var(--m-sm-title-size-1);
        }

        .desc {
            font-size:var(--m-desc-1);
        }
    }
}

.section-18 {
    padding: 0!important;

    img {
        border-radius: 30px;
    }

    .title {
        font-size:var(--sm-title-size-1);
        color:var(--lava-white);
    }

    .desc {
        font-size:var(--desc-size-3);
        color:var(--lava-white);
    }

    @media screen and (max-width: 575px) {
        .title {
            font-size: var(--m-sm-title-size-1);
        }

        .desc {
            font-size: var(--m-desc-1);
        }
        
    }
}

.section-19 {

    padding: 0!important;
    width: 100%;
    height: 56.25vw;
    position: relative;

    .video-box {

        video {
            width: 100%;
        }
    }

    .shadow {
        position: absolute;
        z-index: 1;
        height: 300px;
        width: 100%;
        bottom: 0;
        background: linear-gradient(rgba(0, 0, 0, 0), #000);
    }

    @media screen and (max-width: 575px) {
        height: 178vw;
    }
}

.section-20 {
    padding: 0!important;

    .title {
        font-size: var(--big-sub-title-size-2);
        color: var(--lava-white);
        text-align: center;
    }

    .sub-title {
        font-size: var(--sm-title-size-1);
        color: var(--lava-white);
        text-align: center;
    }

    .desc {
        font-size: var(--desc-size-3);
        color: var(--lava-grey);
        text-align: center;
    }

    @media screen and (max-width: 575px) {
    
        .title {
            font-size: var(--m-big-sub-title-size-2);
        }

        .sub-title {
            font-size: var(--m-sm-title-size-1);
        }

        .desc {
            font-size: var(--m-desc-1);
        }
    }
}
